<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.sang12.blog.repository.common.BoardDao">

	<sql id="COMMON_PAGING_HEADER">
		select @ROWNUM := @ROWNUM + 1 as rnum, R1.* FROM(	
	</sql>
	
	<sql id="COMMON_PAGING_TAIL">
		LIMIT #{length, jdbcType=INTEGER} OFFSET #{start, jdbcType=INTEGER}	
		) R1, (select @ROWNUM := 0) A
	</sql>
	
	<!-- mainPage 게시물 리스트 -->
    <select id="getMainArticle" resultType="com.sang12.blog.domain.board.BoardEntity">
    	<include refid="COMMON_PAGING_HEADER"/>
    	SELECT * FROM (
 			<include refid="getMainArticleResult"/>
		) A
		WHERE 1=1
		<include refid="getMainArticleWhereClause"/>
  		ORDER BY boardId desc
  		<include refid="COMMON_PAGING_TAIL"/>
    </select>
    
    <select id="getMainArticleCount" resultType="int">
        SELECT COUNT(*) FROM (
        	SELECT * FROM ( <include refid="getMainArticleResult"/> ) A
			WHERE 1=1
			<include refid="getMainArticleWhereClause"/>
       	) B
    </select>
    
    <sql id="getMainArticleWhereClause">
    	AND A.displayYn = 'Y'
		<if test="largeCategoryId != null and largeCategoryId != ''">
			AND A.largeCategory = #{largeCategoryId, jdbcType=INTEGER}
		</if>
		<if test="middleCategoryId != null and middleCategoryId != ''">
			AND A.middleCategory = #{middleCategoryId, jdbcType=INTEGER}
		</if>
		<if test="largeCategoryName != null and largeCategoryName != ''">
			AND A.largeCategoryName = REPLACE(#{largeCategoryName, jdbcType=VARCHAR}, '-', ' ')
		</if>
		<if test="middleCategoryName != null and middleCategoryName != ''">
			AND A.middleCategoryName = REPLACE(#{middleCategoryName, jdbcType=VARCHAR}, '-', ' ')
		</if>
		<if test="tagName != null and tagName != ''">
			AND INSTR(keyword, REPLACE(#{tagName, jdbcType=VARCHAR}, '-', ' '))
		</if>
    </sql>
    
    <!-- 카테고리 관련 게시물 가져오기 -->
    <select id="getRelateBoardTitleList" resultType="com.sang12.blog.domain.board.RelateBoardTitleEntity">
    		SELECT A.* FROM(
    			(
					SELECT boardId, title, registerDate, registerId 
					FROM BOARD01TM
					WHERE
						boardId &gt; #{boardId, jdbcType=INTEGER}
						AND displayYn = 'Y'
						<if test="largeCategory != null and largeCategory != ''">
							AND largeCategory = #{largeCategory, jdbcType=INTEGER}
						</if>
						<if test="middleCategory != null and middleCategory != ''">
							AND middleCategory = #{middleCategory, jdbcType=INTEGER}
						</if>
					ORDER BY boardId ASC
					Limit 2
				)
				UNION ALL
				(
					SELECT boardId, title, registerDate, registerId 
					FROM BOARD01TM
					WHERE
						boardId &lt;= #{boardId, jdbcType=INTEGER}
						AND displayYn = 'Y'
						<if test="largeCategory != null and largeCategory != ''">
							AND largeCategory = #{largeCategory, jdbcType=INTEGER}
						</if>
						<if test="middleCategory != null and middleCategory != ''">
							AND middleCategory = #{middleCategory, jdbcType=INTEGER}
						</if>
					ORDER BY boardId DESC
					Limit 4
				)
			) A
			ORDER BY A.boardId DESC
    </select>
 	
 	<sql id="getMainArticleResult">
 		SELECT boardId, largeCategory, middleCategory, bottomCategory, keyword, displayYn,
	  		(SELECT categoryName FROM COMM03TM COMM03 WHERE COMM03.categoryId = largeCategory) largeCategoryName,
  			(SELECT categoryName FROM COMM03TM COMM03 WHERE COMM03.categoryId = middleCategory) middleCategoryName,
  			(SELECT categoryName FROM COMM03TM COMM03 WHERE COMM03.categoryId = bottomCategory) bottomCategoryName,
 			title, content, registerDate, registerId, finalChangeDate, finalChangeId 
 		FROM BOARD01TM
  		WHERE 1=1
    </sql>
    
    <!-- admin 게시물 리스트 -->
    <select id="getAdminArticleList" resultType="com.sang12.blog.domain.board.BoardEntity">
    	<include refid="COMMON_PAGING_HEADER"/>
    	<include refid="getAdminArticleListResult"/>
    	ORDER BY boardId DESC
    	<include refid="COMMON_PAGING_TAIL"/>
    </select>
    
	<select id="getAdminArticleListCount" resultType="int">
	      SELECT COUNT(*) FROM (<include refid="getAdminArticleListResult"/>) A
	</select>
    
    <sql id="getAdminArticleListResult">
		SELECT boardId, largeCategory, middleCategory, bottomCategory, keyword, displayYn,
	  		(SELECT categoryName FROM COMM03TM COMM03 WHERE COMM03.categoryId = largeCategory) largeCategoryName,
  			(SELECT categoryName FROM COMM03TM COMM03 WHERE COMM03.categoryId = middleCategory) middleCategoryName,
  			(SELECT categoryName FROM COMM03TM COMM03 WHERE COMM03.categoryId = bottomCategory) bottomCategoryName,
 			title, registerDate, registerId, finalChangeDate, finalChangeId 
 		FROM BOARD01TM
    </sql>
    
    <!-- 게시물 수정대상 상세 가져오기 -->
    <select id="getArticleDetail" resultType="com.sang12.blog.domain.board.BoardEntity">
    	SELECT boardId, largeCategory, middleCategory, bottomCategory, keyword, displayYn,
	  		(SELECT categoryName FROM COMM03TM COMM03 WHERE COMM03.categoryId = largeCategory) largeCategoryName,
  			(SELECT categoryName FROM COMM03TM COMM03 WHERE COMM03.categoryId = middleCategory) middleCategoryName,
  			(SELECT categoryName FROM COMM03TM COMM03 WHERE COMM03.categoryId = bottomCategory) bottomCategoryName,
 			title, content, registerDate, registerId, finalChangeDate, finalChangeId 
 		FROM BOARD01TM
  		WHERE 1=1
  			AND boardId = #{boardId, jdbcType=INTEGER}
    </select>
    
    <select id="getRssArticleList" resultType="com.sang12.blog.domain.board.BoardEntity">
    	<include refid="getMainArticleResult"/>
    	AND displayYn = 'Y'
    	ORDER BY boardId DESC
    </select>
    
    <select id="getMainArticleByBoardId" parameterType="int" resultType="com.sang12.blog.domain.board.BoardEntity">
    	<include refid="getMainArticleResult"/>
    		AND boardId = #{boardId, jdbcType=INTEGER}
    </select>
    
    <select id="saerchKeyword" parameterType="String" resultType="com.sang12.blog.domain.board.BoardEntity">
    	<include refid="getMainArticleResult"/>
		AND (
				title LIKE CONCAT('%',#{keyword, jdbcType=VARCHAR},'%')
				OR
				content LIKE CONCAT('%',#{keyword, jdbcType=VARCHAR},'%')
			)
		ORDER BY boardId DESC
    </select>
    
    <!-- addReply -->
    <insert id="addReply">
    	INSERT INTO BOARD_REPLY(
    		board_id, parent_id, depth, reply_content, reply_writer, reply_password, register_datetime
    	) VALUES(
    		#{board_id}, #{parent_id}, #{depth}, #{reply_content}, #{reply_writer}, #{reply_password}, now()
    	)
    </insert>
    
    <!-- getReplyList -->
    <select id="getReplyList" resultType="com.sang12.blog.domain.board.BoardReplyEntity">
    	select
            reply_id,
            board_id,
            parent_id,
            depth,
            reply_content,
            reply_writer,
            reply_password,
            DATE_FORMAT(register_datetime, '%Y-%m-%d %H:%i:%s') register_datetime
        from
            BOARD_REPLY
        where
            board_id = #{boardId, jdbcType=INTEGER}
        order by reply_id asc
    </select>
    
</mapper>

